* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}


body {
    /* padding-top: 10%; */
    width: 100%;
    height: 100vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg,
            #0a0a0a,
            #3a4452);

}

.calculator {
    border: solid #717171;
    background: transparent;
    padding-bottom: 5%;
}

input {
    width: 100%;
    border: none;
    padding: 14px;
    /* padding-bottom: 10%; */
    background: transparent;
    font-size: 30px;
    text-align: right;
    cursor: pointer;
    color: #fff;
}

input::placeholder {
    color: #fff;

}

button {
    border: solid #4b4a4a;
    width: 60px;
    height: 60px;
    margin: 5px;
    border-radius: 50%;
    background: transparent;
    color: #ffff;
    font-size: 20px;
    cursor: pointer;


}

.equalbtn {
    background-color: orangered;

}